# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here

print("Neha Murthy")

Neha Murthy

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Replace the values "R" and "N" with ```np.nan``` (missing value) <br>
in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [9]:
# Write your own code

sprint = pd.read_csv("data_raw/sprint_results.csv")

subset      = sprint.query("positionText.str.isnumeric() == False")
list_unique = pd.unique(subset["positionText"])
print(list_unique)

list_old = ['R','N']
list_new = [np.nan, np.nan]

sprint["positionText"] = sprint["positionText"].replace(list_old, list_new)

sprint["positionNumeric"] = pd.to_numeric(sprint["positionText"])

['R' 'N']

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [11]:
# Write your own code

races = pd.read_csv("data_raw/races.csv")

bins_x = [1950, 1974, 1999, float("inf")]
labels_x = ["1950-1974",
            "1975-1999",
            "2000-onwards"]

races["year_brackets"] = pd.cut(races["year"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" <br> 
 using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe <br>
```sprint_results_agg ```

In [23]:
# Write your own code

sprint_results_agg = (sprint.query("constructorId == 3")
                        .groupby("driverId")
                        .agg(sum_laps = ('laps', "sum"))
                        .filter("sum_laps >= 40"))

display(sprint_results_agg)

Empty DataFrame
Columns: []
Index: [847, 848, 849]

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" <br> 
using ``` .groupby().agg() ```
- Sort the drivers in descending order using of <br>
the sum of laps using ``` .sort_values() ```

In [24]:
# Write your own code

sprint_results_agg = (sprint.groupby("driverId")
                        .agg(sum_laps = ('laps', "sum"))
                        .sort_values("sum_laps", ascending = False))

display(sprint_results_agg)

          sum_laps
driverId
1              127
832            127
854            127
852            127
849            127
847            127
846            127
844            127
839            127
840            127
830            127
822            127
817            127
815            126
20             125
842            109
4              104
825             68
841             59
853             59
848             56
855             47
8               41
9               18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [26]:
# Write your own code

dict_rename_circuits = {"points": "points_sprint"}
sprint = sprint.rename(columns = dict_rename_circuits)

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "url" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [32]:
# Write your own code

constructors = pd.read_csv("data_raw/constructors.csv")

sprint_merge = pd.merge(sprint,
                       constructors[["constructorId","url"]],
                       on = "constructorId",
                       how = "left")

print(sprint_merge.columns.values)

['resultId' 'raceId' 'driverId' 'constructorId' 'number' 'grid' 'position'
 'positionText' 'positionOrder' 'points_sprint' 'laps' 'time'
 'milliseconds' 'fastestLap' 'fastestLapTime' 'statusId' 'positionNumeric'
 'points_sprint' 'url']